<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">
    <h1 class="alignwide" style="margin-bottom:var(--wp--preset--spacing--60)">estamos trabajando en el sitio</h1>
    <span>preparense para el arte visual</span>
    <div class="wp-block-query alignwide">
        <div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
    </div>
    <div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>

</main>